/* Colors */
$color-text-dark: #062234;
$color-text-grey: #555555;
$color-text-grey-light: #505050;
$color-cream-white: #EFEEEE;
$color-shadow-dark: rgba(217, 210, 200, 0.75);
$color-shadow-light: rgba(255, 255, 255, 0.83);
$color-border-highlight: rgba(255, 255, 255, 0.2);
$color-highlight: #FA8072;
$color-highlight-transparent: rgba(250, 128, 114, 0.5);

/* Sizes */
$size-xxsmall: 6px;
$size-xsmall: 12px;
$size-small: 14px;
$size-medium: 24px;
$size-large: 48px;
$size-xlarge: 60px;
$size-xxlarge: 120px;
$box-element: 40px;
$small-width: 160px;
$medium-width: 400px;
$large-width: 600px;
$max-width: 1024px;
// Buttons
$icon-button-size: 20px;
$icon-button-size-mobile: 14px;

/* Font-sizes */
$mobile-text: 9px;
$xfine-text: 12px;
$fine-text: 14px;
$standar-text: 18px;
$large-text: 20px;
$xlarge-text: 24px;
$xxlarge-text: 30px;
$graphic-text: 200px;

/* Font-weight */
$thin-text: 300;
$regular-text: 400;
$medium-text: 400;
$bold-text: 600;
$xbold-text: 700;
$xxbold-text: 800;

/* GALLERY*/
$gallery-height: 520px;
$gallery-height-mobile: 400px;

/* CARD variables */
$card-total-height: 480px;
$card-total-height-mobile: 360px;
$card-logo-container-size: 100px;
$card-button-height: 25px;
$card-button-padding: 3px;

/* MOBILE BREAKING POINT */
$mobile-breaking-point: 875px;